@media(min-width: 1000px) {
  .login-form {
    padding-left: 30%;
    padding-right: 30%;

    margin-top: 50px;
    background-color: rgb(255, 255, 255, 0.5);
  }

  .login-information {
    padding-left: 75px;
    padding-right: 75px;
    background-color: rgb(255, 255, 255, 0.5);
  }
}


.login-page {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background-image: url('https://mintur-siturin-pruebas-back.turismo.gob.ec:9090/files/images/background-main.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

