<div class="panel-header grid">
  <div class="xl:col-3 lg:col-3 md:col-3 sm:col-3">
    <img src="assets/images/mejoratec/home/grafismo1.png" alt="">
  </div>
  <div class="xl:col-6 lg:col-3 md:col-3 sm:col-3 text-center">
    <img src="assets/images/mejoratec/home/logo_central.png" alt="">
  </div>
  <div class="xl:col-3 lg:col-3 md:col-3 sm:col-3 text-right">
    <img src="assets/images/mejoratec/home/grafismo2.png" alt="">
  </div>
</div>

<div class="panel-areas grid">
  <div class="xl:col-4 lg:col-4 md:col-4 sm:col-4">
    <div class="title-areas">MEJORATEC</div>
  </div>
  <div class="xl:col-4 lg:col-4 md:col-4 sm:col-4 text-center">
    <div class="title-areas">ÁREAS</div>
  </div>
  <div class="xl:col-4 lg:col-4 md:col-4 sm:col-4 text-right">
    <button pButton pRipple label="Cerrar Sesión" icon="pi pi-sign-out" style="font-size: 1.5rem"
            (click)="logout()"></button>
  </div>
</div>
